h1 {
    color:#FFFFFF;
    text-shadow: 1px 1px 2px #060d10;
    font-size: 60px;
    font-style: normal;

    }
  
    .promo {
    color: #FFFFFF;
    font-size: 32px;
    text-shadow: 1px 1px 2px #060d10;
    }
  
    h2{
      font-size: 48px;
      color:#060d10
  
    }
    h3{
      color:#060d10;
      font-size: 32px;
    }
  
    .dignity-text{
      color: #060d10;
      font-size: 26px;
      
    }
  
    .slogan{
      color: #060d10;
      font-size: 48px;
  
    }
  
    .appeal{
      color: #FFFFFF;
      font-size: 20px;
      background: #060d10;
    }
.social{
  color:#FFFFFF;
  background:#060d10;
}
    .copyright{
  color: #FFFFFF;
  background:#060d10;
  font-size: 18px;
    }
