/* oswald-regular - latin_cyrillic */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/oswald-v40-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/oswald-v40-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/oswald-v40-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/oswald-v40-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v18-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v18-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/montserrat-v18-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v18-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1278px;
  margin: 0 auto;
}

/* header */
.header {
  padding: 30px 0;
  background-color: #66d1ff;
}

.header-wrap {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding: 8px 41px;
  color: #060d10;
  text-decoration: none;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.phone {
  font-family: "Montserrat", sans-serif;
  color: #060d10;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-decoration: none;
}

/* about */

.about {
  padding: 240px 0;
  background-image: url(../images/promo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.about-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 2px #060d10;
}

.about-text {
  margin-top: 60px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 2px #060d10;

}

.advantage {
  padding: 170px 0;
  background: rgba(102, 209, 255, .03);
}
.advantage-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #060d10;
}

/* feature */

.feature {
  margin-top: 100px;
  padding-right: 81px;
  padding-left: 81px;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
}

.feature-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 53px;
  color: #060d10;
  display: block;
  flex-basis: 50%;
  border: 1px;
  margin-top: 0;

}

.feature-text {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 36px;
  color: #060d10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.feature-item {
  padding: 15px;
  width: 33.33%;
}

.promo {
  padding: 170px 0 180px 0;
  background: linear-gradient(208.35deg, rgba(102, 209, 255, .03) 43.85%, rgba(196, 196, 196, .0) 43.86%);
  text-align: center;
}

.promo-title {
  padding-bottom: 80px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  color: #060d10;
}

.button {

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: #060d10;
  padding: 20px 108px;
  text-decoration: none;
  border-style: solid;
  margin-top: 60px;
  margin-bottom: 130px;

}

.photos {
  width: 100%;
  padding-top: 130px;
  list-style: none;
  display: flex;
}

.photos-item {
  flex-basis: 25%;
  padding: 15px;
}

/* footer */

.footer {
  background: #060d10;
  color: #fff;
  padding: 35px 0;

}

.footer-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
}
.social{
  display: flex;
}


.copyright {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
}
